@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  font-family: 'Prompt', sans-serif;

}

.inline-text {
  display: inline-flex;
  width: 200px;
  border-color: aqua;
  vertical-align: middle !important
}

.menu-list-class {
  z-index: 9999; /* ค่า z-index ที่สูงพอที่จะแสดงอยู่ด้านหน้าสุด */
  /* อื่นๆ ตามต้องการ เช่น position, top, left เป็นต้น */
}

.shop {
  z-index: 9999;
}
.datepicker-container {
    z-index: 9999; /* ค่า z-index สามารถปรับให้เหมาะสมกับการอยู่บนสุดของหน้าจอ */
}
